<div class="container">

    <h1>{{> page/title}}</h1>
    <p>Welcome! Keep your fishes alive.</p>
    <hr><br>
    <button class="btn btn-default">Food Now</button>
    <button class="btn btn-default">Food Vacations</button>
    <button class="btn btn-default">Food Auto</button>
 
    <!-- {{> page/nav}} -->
</div>
